src/XComicLibrary/Configuration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Configuration"
    targetNamespace="http://www.xylasoft.com/Comics/"
    elementFormDefault="qualified"
    xmlns="http://www.xylasoft.com/Comics/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="Configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="LibraryPaths" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="LibraryPaths">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Path" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
